@media only screen and (max-width:768px)
{
	.logo{
		text-align:center;
	}
	.menu-content{
		margin-right:0px; 
	}
	.about-heading{
		font-size:30px;
		margin-bottom:0px;
	}
	.about-heading:before{
		top:50px;
		left:40%;
	}
	.about-text{
		margin-top:30px;
	}
	.about-text br{
		display:none;
	}
	.banner-heading-2{
		font-size:2rem;
	}
	.subtitle{
		margin-bottom:1rem;
	}
	.explore{
		padding: 0.2rem 2rem;
	}
	.together-heading{
        padding: 1px 0px;
		font-size: 36px;
	}
    .ready{
		font-size: 12px;
        margin-top: 36px;
	}
	.ready br{
		display:none;
	}
	
	.subtitle br{
     	display:none;
	 }
	
	
	.hide{
		display:none;
	} 
}