<!DOCTYPE html>
<html>
    <head>
        <title>hello people</title>
    </head>
    <body>
        <!-- Anchor Tags  is used to create hyperlinks -->
         <!-- hyperlink  is a text or image that you can click on to navigate to another webpage or a different section of the same webpage. -->
        <!-- href attribute is used to specify the URL of the page the link goes to. -->
    <a href="https://www.google.com">Google dfddf</a>
    <a href="https://www.facebook.com" target="_blank">Facebook</a>

    <a href="list.html" target="_blank">List</a>
        
    </body>
</html>