<!DOCTYPE html>
<html>
    <head>
        <title>css with html</title>
        <style>
          .demo{
            border-top:4px double blue;
            border-bottom:4px dotted red;
            border-left:4px dotted blue;
            border-right:4px dotted yellow;
          }
        </style>
    </head>
    <body>
       <p class="demo">df sfpo dospdspof dspofdspofdsof odpsfdops podspods dsfdsdfsdf sfpo dospdspof dspofdspofdsof odpsfdops podspods dsfdsdfsdf sfpo dospdspof dspofdspofdsof odpsfdops podspods dsfdsdfsdf sfpo dospdspof dspofdspofdsof odpsfdops podspods dsfdsdfsdf sfpo dospdspof dspofdspofdsof odpsfdops podspods dsfdsdfsdf sfpo dospdspof dspofdspofdsof odpsfdops podspods dsfdsdfsdf sfpo dospdspof dspofdspofdsof odpsfdops podspods dsfdsdfsdaf</p>
    </body>
</html>