<!DOCTYPE html>
<html>
    <head>
         <title>form</title>
    </head>
    <body>
        <h1>form filling</h1>
        <form>
        <p>
            <label> Name:</label>
            <input type="text" placeholder="enter your name"required>
        </p>
        <p>
            <label>email:</label>
            <input type="email" placeholder="enter your email" required>
         </p>
         <p>
            <label>passward:</label>
            <input type="password" placeholder="enter your password">
         </p>
         <p>
            <label>number:</label>
            <input type="number" placeholder="enter your number">
         </p>
         <p>
             <label>date:</label>
             <input type="date" placeholder="enter date">
        
         </p>
         <p>
            <label>month:</label>
            <input type="month" placeholder="enter month">
         </p>
         <p>
            <label>week:</label>
            <input type="week"placeholder="enter week">
         </p>
         <p>
            <label>loacl date& yaer</labeL>
                <input type="datetime-local" placeholder="enter local date and year">
         </p>
         <p>
            <input type="radio" name="gender" value="male">male
            <input type="radio" name="gender" value="female">female
         </p>
         <p>
            <input type="checkbox" name="vehicle" value="bike">i have a bike
            <input type="checkbox" name="vehicle" value="car">i have a car
         </p>
         <p>
            <select>

                <option value="volvo">volvo</option>
                <option value="eicher">eicher</option>"
                <option value="mahindra">mahindra</option>"
                <option value="mercidies">mercidies</option>"
            </select>
         </p>
            <input type="submit" value="submit">
            <input type="reset" value="reset">
            <button>sign up</button>
            </form>
        <p>
            <textarea placeholder="enter your detail" rows="50" cols="50"></textarea>
         </p>
        </form>
    </body>

</html>