<!DOCTYLE html
<html>
    <head>
        <title>hello people!</title>
    </head>
    <body>
<h1> <u>d sdfsdofs dsd sdp</u>THis isheadungf dskfdsdsa sadf  tag </h1>
<h2>THis isheadungf dskfdsdsa sadf  tag </h2>
<h3> <i>sd dsfaf asfsd  </i>THis isheadungf dskfdsdsa sadf  tag </h3>
<h4>THis isheadungf dskfdsdsa sadf  tag </h4>
<h5>THis isheadungf dskfdsdsa sadf  tag </h5>
<h6>THis isheadungf dskfdsdsa sadf  tag </h6>

<P>DF SDFPOSOPDF OPDSF SDOPF dff df<b>THis is bold tag </b>dssdsf ldsf dsl  sdOSOPDF OPDSF SDOPF dff df dssdsf ldsf dsl  sdOSOPDF OPDSF SDOPF dff df dssdsf ldsf dsl  sdOSOPDF OPDSF SDOPF dff df dssdsf ldsf dsl  sdOSOPDF OPDSF SDOPF dff df dssdsf ldsf dsl  sdOSOPDF OPDSF SDOPF dff df dssdsf ldsf dsl  sdOSOPDF OPDSF SDOPF dff df dssdsf ldsf dsl  sdOSOPDF OPDSF SDOPF dff df dssdsf ldsf dsl  sdOSOPDF OPDSF SDOPF l  sdOSOPDF OPDSF SDOPF dff df dssdsf ldsf dsl  sdOSOPDF OPDSF SDOPF dff df dssdsf lds<strong>THis is strong tag </strong>f dsl  sdOSOPDF OPDSF SDOPF dff df dssdsf ldsf dsl  sdOSOPDF OPDSF SDOPF dff df dssdsf ldsf dsl  sdOSOPDF OPDSF SDOPF dff df dssdsf ldsf dsl  sdOSOPDF OPDSF SDOPF dff df dssdsf ldsf dsl  sdOSOPDF OPDSF SDOPF dff df dssdsf ldsf dsl  sdsd  </P>

<b>THis is bold tag </b>
<strong>THis is strong tag </strong>

<u>This is underline tag    </u>
<ins>This is insert tag </ins>

<i>This is italic tag </i>
<em>Thsis is emphasized  tag </em>

<mark>This is highlighted tag </mark>

<del>This is deleted tag </del>
<strike>This is strikethrough tag </strike>


<p>2<sup>10</sup></p>
<P>LOG<sub>10</sub></P>

    </body>
    </html>