<!DOCTYPE html>
<html>
    <head>
        <title>css with html</title>
    </head>

    <body>
        <p style="color:blue;  background:gray; text-align:justify;">lkerhgkj fklh ikyfh euifyh dkuhjklhf fh hflki yure th yt er ty re tyureiyuirey uiyweturyetuiyreuiotfh uirfuio yu fuiyiuoyf uiyoiu dfjhg  ureyh uiret irehoiuthui rfuio tuiopyreu piupoer uipp iurd yuidfg uiprefpfueru  urg  fu dsf uyds u puef dfyoui y o dfui yof </p>

        <p style="word-spacing:15px; letter-spacing:3px; font-size:20px; line-height:30px;">klgr  uiogye ruiperuio yureuio retuipo re ersui oghuiporeg uiporfiuhy fretfuipohy fiuoe pfhu fhu hf f hghhfhjkdsfjk sdfhkjkjhfjklljkljkfd h fds    fdjh df hkfd k  fkj hdf dfs  kh df fhkdjshfhk fdhlkhsdflhlkjlkfdslkj ldfsjkhfdjkhjklhfgjklgflfglk
        </p>

        <p style="text-transform:uppercase;">ufioheruoihoui rfiy GOLHHLOH</p>

        <p style="text-decoration:line-through;">iluhfd dfjh ;o dfj gd ;dfgk; fdgj fdgkl fdg fdg g g dflkfdg fdglkfdg </p>

        <p style="font-weight:700; font-style:italic">hlfudishg iodufghji goi;dsf dsfiop dfoguipuioph dfuihu fdgholj fdlkh fdlhfgkj fiuyhf </p>
        
        <a style="text-decoration:;"href="">google</a>
    </body>
</html>