<!DOCTYPE html>
<html>
    <head>
        <title>css with internal form</title>
    </head>
    <body>
        <style>
            .demo{
                border-bottom:4px double blue;
                border-top:4px dotted red;
                border-left:4px dotted goldenrod;
                border-right:4px dotted orange;
            }
            
             #test1{
                
                    text-transform:uppercase;
                    color:purple;
                
            }
        </style>
        <p class="demo">jlhfl uisdhf kehfkj dskjh fdhk fdusu iuifdiuuirui rehfuidfs  iuewreru8y  uerwqt ruifgui
            g ufdguyu  yudfuygodsfo sdfuiiudfso fdsiuhuiodfuu sdfuiiuposdfiuops piusfipuospf ifsdhif puis fpsdidu f puipfd ug dfg dfuig udf upgu pdfp  df</p>
            <p id="test1">ierhfui efui ipuie fu uegui gui uihgh ipuhefg  efg huiefg h</p>
        </p>
    </body>
</html>