<!DOCTYPE html>
<html>
    <head>
        <title>css with internal form</title>
         <style>
            .demo{
               list-style-type: none;                   
            }
            .test{
                list-style-type:georgian;            
            }
        </style>
    </head>
    <body>
  <ul class="demo">
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
  </ul>
    <ol class="test">
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
  </ol> 
    </body>
</html>