<!DOCTYPE html>
<html>
    <head>
     <title>iframe</title>
</head>
    <body>
        <h1>table</h1>
        <table border="1"cellpadding="20" cellspacing="0"align="center">
        <tr>
        <th>id</th>
        <th>name</th>
        <th>number</th>
        <th>roll number</th>
        </tr>
        <tr>
            <td>1</td>
            <td>ankit</td>
            <td>98984578478</td>
            <td>456</td>
            
        </tr>
        <tr>
            <td>2</td>
            <td>sumit</td>
            <td>98984578478</td>
            <td>557</td>
        </tr>
        <tr>
            <td>3</td>
            <td>rohit</td>
            <td>83734874</td>
            <td>789</td>
            
        </tr>
    </body>
</html>