<!DOCTYPE html>
<html>
    <head>
        <title>css with internal form</title>
         <style>
            .demo{
               list-style-image: url('check.png');                   
            }
   
        </style>
    </head>
    <body>
  <ul class="demo">
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
     <li>df adsfds fpsfdsf df pdsf dsfodsp dspfdsdsfds </li>
  </ul>

    </body>
</html>