<!DOCTYPE html>
<html>
    <head>
        <title>heading web </title>
    </head>
    <body>
        <!-- text-decoration:line-through;overline,underline,none
            font-weight:bold,normal,100,....700....900;
            font-style:italic,oblique,normal;
        -->
        <p style="text-decoration:none;">ds dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdsfds </p>

      <a style="text-decoration:none;" href="">Google</a>


      <h1 style="color:blue;">WRITTEN   BY   Ankit Coudhary</h1>



              <p style="font-weight:900; font-style:italic;">ds dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdss dsfd sfs dsf dospds fds psdf sdpof dsp dspof dspof dspds fdsfds </p>

    </body>
</html>